@mixin input-placeholder {
    &.placeholder { @content; }
    &:-moz-placeholder { @content; }
    &::-moz-placeholder { @content; }
    &:-ms-input-placeholder { @content; }
    &::-webkit-input-placeholder { @content; } 
}

input {
    border-width: $input-border-width;
    border-color: $input-border-color;
    color:        $input-color;
    font:         $input-font;
    height:       $input-height;
    padding:      $input-padding;
    width:        $input-width;
    @include input-placeholder{
        color:       $input-placeholder-color;
        font-family: $input-placeholder-font;
    }; 

    &:focus{ 
        border-color: $input-border-color-focus;
        box-shadow: $input-box-shadow-focus;
    }
}

.input{
    &--success{
        border-color: $input-border-color-success;
    }
    &--faild{
        border-color: $input-border-color-faild;
    }
}

