h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: 100%;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
	//font-family: $stack--heading;
	font-weight: $w--bold;
	line-height: $base-line-height;
	

	a {
		font-weight: $w--bold;
	}
}

.h1 {
	font-size: $h--large;

	@media screen and (max-width: 768px) {
		font-size: $h--large-t;
	}

	@media screen and (max-width: 480px) {
		font-size: $h--large-m;
	}
}

.h2 {
	font-size: $h--medium;

	@media screen and (max-width: 768px) {
		font-size: $h--medium-t;
	}

	@media screen and (max-width: 480px) {
		font-size: $h--medium-m;
	}
}

.h3 {
	font-size: $h--small;

	@media screen and (max-width: 768px) {
		font-size: $h--small-t;
	}

	@media screen and (max-width: 480px) {
		font-size: $h--small-m;
	}
}

.h4 {
	font-size: $h--x-small;

	@media screen and (max-width: 768px) {
		font-size: $h--x-small-t;
	}

	@media screen and (max-width: 480px) {
		font-size: $h--x-small-m;
	}
}

.h5 {
	font-size: $h--xx-small;

	@media screen and (max-width: 768px) {
		font-size: $h--xx-small-t;
	}

	@media screen and (max-width: 480px) {
		font-size: $h--xx-small-m;
	}
}

.h6 {
	font-size: $h--xxx-small;

	@media screen and (max-width: 768px) {
		font-size: $h--xxx-small-t;
	}

	@media screen and (max-width: 480px) {
		font-size: $h--xxx-small-m;
	}
}

// Stylistic elements

ol {
    list-style: decimal;
}

ul {
	list-style: none;
}


b,
strong {
	font-weight: $w--bold;
}

small {
	font-size: 80%;
}
em {
    font-style: italic;
}