* {
    margin: 0;
    outline: none;
    padding: 0;
	&,
	&::before,
	&::after {
		box-sizing: border-box;
	}
}

html {
	font-size: $html-font-size;
	min-height: 100%;
	overflow-y: scroll;
	-webkit-text-size-adjust: none;

    //if need to customize scrollbar
    @include scrollbars(.8em, #000);
}

body {
	background-color: $c--body-bg;
	color: $c--body-colour;
    font-family: $stack;
	font-size: $base-font-size;
	line-height: $base-line-height;
}