//  Basic document styling


    $html-font-size: 62.5%;

    $base-line-height: 1.6;
    $base-font-size: 16px;

    $c--body-colour: #000;
    $c--body-bg: #fff;

    $stack: Helvetica, Arial, sans-serif;




// typography core heading

    $h--large: 42px;
    $h--medium: 32px;
    $h--small: 28px;
    $h--x-small: 24px;
    $h--xx-small: 18px;
    $h--xxx-small: 16px;

// tablet core headeing

    $h--large-t: 42px;
    $h--medium-t: 32px;
    $h--small-t: 28px;
    $h--x-small-t: 24px;
    $h--xx-small-t: 18px;
    $h--xxx-small-t: 16px;

// mobile core headeing

    $h--large-m: 42px;
    $h--medium-m: 32px;
    $h--small-m: 28px;
    $h--x-small-m: 24px;
    $h--xx-small-m: 18px;
    $h--xxx-small-m: 16px;


// fonts

    // $f--bold:;
    // $f--medium:;
    //$f--regular:sans-serif;
    //$f--light:;

// weights

    $w--light: 300;
    $w--normal: 400;
    $w--semibold: 600;
    $w--bold: 700;
    $w--heavy: 800;


// other colours

    $c--red: #f50023;
    $c--green: #24b35d;
    $c--blue: #4D90FE;


// social colours

    $c--twitter: #55acee;
    $c--facebook: #3b5998;
    $c--youtube: #bb0000;
    $c--pinterest: #cb2027;
    $c--linkedin: #007bb5;
    $c--instagram: #8a3ab9; // new purple colour
    // $c--instagram: #125688; // old blue colour

// form & message positive/negative colours

    $c--positive: $c--green;
    $c--negative: $c--red;

// input parametrs

    $input-border-width: 1px;
    $input-border-color:#ccc;
    $input-color:#000;
    $input-font: 16px/16px $stack;
    $input-height:35px;
    $input-padding: 5px 10px;
    $input-width:100%;

    $input-placeholder-color: #ccc;
    $input-placeholder-font: $stack;

    $input-border-color-focus: $c--blue;
    $input-box-shadow-focus: 0px 1px 2px $c--blue;
    $input-border-color-success: $c--positive;
    $input-border-color-faild:$c--negative;


// easing effect

    //	Cubic
    $ease--in-cubic: cubic-bezier(.55,.055,.675,.19);
    $ease--out-cubic: cubic-bezier(.215,.61,.355,1);
    $ease--in-out-cubic: cubic-bezier(.645,.045,.355,1);

    //	Circ
    $ease--in-circ: cubic-bezier(.6,.04,.98,.335);
    $ease--out-circ: cubic-bezier(.075,.82,.165,1);
    $ease--in-out-circ: cubic-bezier(.785,.135,.15,.86);

    //	Expo
    $ease--in-expo: cubic-bezier(.95,.05,.795,.035);
    $ease--out-expo: cubic-bezier(.19,1,.22,1);
    $ease--in-out-expo: cubic-bezier(1,0,0,1);

    //	Quad
    $ease--in-quad: cubic-bezier(.55,.085,.68,.53);
    $ease--out-quad: cubic-bezier(.25,.46,.450,.94);
    $ease--in-out-quad: cubic-bezier(.455,.03,.515,.955);

    //	Quart
    $ease--in-quart: cubic-bezier(.895,.03,.685,.22);
    $ease--out-quart: cubic-bezier(.165,.84,.44,1);
    $ease--in-out-quart: cubic-bezier(.77,0,.175,1);

    //	Quint
    $ease--in-quint: cubic-bezier(.755,.05,.855,.06);
    $ease--out-quint: cubic-bezier(.23,1,.320,1);
    $ease--in-out-quint: cubic-bezier(.86,0,.07,1);

    //	Sine
    $ease--in-sine: cubic-bezier(.47,0,.745,.715);
    $ease--out-sine: cubic-bezier(.39,.575,.565,1);
    $ease--in-out-sine: cubic-bezier(.445,.05,.55,.95);

    //	Back
    $ease--in-back: cubic-bezier(.6,-.28,.735,.045);
    $ease--out-back: cubic-bezier(.175,.885,.32,1.275);
    $ease--in-out-back: cubic-bezier(.68,-0.55,.265,1.55);

    //	Smooth fade
    $ease--smooth-fade: cubic-bezier(.365,.005,.355,1);