h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
dl,
dd,
ol,
ul,
form,
legend,
table,
th,
td,
caption,
hr,
figure {
  margin: 0;
  padding: 0;
}

fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

input,
select,
textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-clip: border-box;
  margin: 0;
  outline: 0;
  text-align: left;
  vertical-align: top;
  width: 100%;
}

input[type='checkbox'],
input[type='radio'] {
  width: auto;
  height: auto;
}

input[type='checkbox'] {
  -webkit-appearance: checkbox;
     -moz-appearance: checkbox;
          appearance: checkbox;
}

input[type='radio'] {
  -webkit-appearance: radio;
     -moz-appearance: radio;
          appearance: radio;
}

textarea,
select[size],
select[multiple] {
  height: auto;
}

select::-ms-expand {
  display: none;
}

select:focus::-ms-value {
  background-color: transparent;
  color: inherit;
}

textarea {
  resize: vertical;
}

input[type='search']::-webkit-search-decoration {
  display: none;
}

button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: none;
  border: none;
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
  display: inline-block;
  font: normal 16px/1 sans-serif;
  outline: 0;
  overflow: visible;
  text-align: center;
  text-decoration: none;
  vertical-align: top;
  width: auto;
}

button:hover,
button:focus {
  text-decoration: none;
}

[disabled],
[disabled] * {
  box-shadow: none;
  cursor: not-allowed;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.is-hidden {
  visibility: hidden;
}

.clearfix {
  display: table;
  width: 100%;
}

.clearfix:after {
  content: '';
  display: block;
  position: relative;
}

a,
.a {
  text-decoration: underline;
  cursor: pointer;
}

a:hover,
.a:hover {
  text-decoration: none;
}

.a--block {
  display: block;
}

.a--subtle {
  color: inherit;
  text-decoration: none;
}

input {
  border-width: 1px;
  border-color: #ccc;
  color: #000;
  font: 16px/16px Helvetica, Arial, sans-serif;
  height: 35px;
  padding: 5px 10px;
  width: 100%;
}

input.placeholder {
  color: #ccc;
  font-family: Helvetica, Arial, sans-serif;
}

input:-moz-placeholder {
  color: #ccc;
  font-family: Helvetica, Arial, sans-serif;
}

input::-moz-placeholder {
  color: #ccc;
  font-family: Helvetica, Arial, sans-serif;
}

input:-ms-input-placeholder {
  color: #ccc;
  font-family: Helvetica, Arial, sans-serif;
}

input::-webkit-input-placeholder {
  color: #ccc;
  font-family: Helvetica, Arial, sans-serif;
}

input:focus {
  border-color: #4D90FE;
  box-shadow: 0px 1px 2px #4D90FE;
}

.input--success {
  border-color: #24b35d;
}

.input--faild {
  border-color: #f50023;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-weight: 700;
  line-height: 1.6;
}

.h1 a,
.h2 a,
.h3 a,
.h4 a,
.h5 a,
.h6 a {
  font-weight: 700;
}

.h1 {
  font-size: 42px;
}

.h2 {
  font-size: 32px;
}

.h3 {
  font-size: 28px;
}

.h4 {
  font-size: 24px;
}

.h5 {
  font-size: 18px;
}

.h6 {
  font-size: 16px;
}

ol {
  list-style: decimal;
}

ul {
  list-style: none;
}

b,
strong {
  font-weight: 700;
}

small {
  font-size: 80%;
}

em {
  font-style: italic;
}

* {
  margin: 0;
  outline: none;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  min-height: 100%;
  overflow-y: scroll;
  -webkit-text-size-adjust: none;
}

html ::-webkit-scrollbar {
  width: 0.8em;
  height: 0.8em;
}

html ::-webkit-scrollbar-thumb {
  background: #000;
}

html ::-webkit-scrollbar-track {
  background: gray;
}

html body {
  scrollbar-face-color: #000;
  scrollbar-track-color: gray;
}

body {
  background-color: #fff;
  color: #000;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.6;
}

@media screen and (max-width: 768px) {
  .h1 {
    font-size: 42px;
  }

  .h2 {
    font-size: 32px;
  }

  .h3 {
    font-size: 28px;
  }

  .h4 {
    font-size: 24px;
  }

  .h5 {
    font-size: 18px;
  }

  .h6 {
    font-size: 16px;
  }
}

@media screen and (max-width: 480px) {
  .h1 {
    font-size: 42px;
  }

  .h2 {
    font-size: 32px;
  }

  .h3 {
    font-size: 28px;
  }

  .h4 {
    font-size: 24px;
  }

  .h5 {
    font-size: 18px;
  }

  .h6 {
    font-size: 16px;
  }
}
/*# sourceMappingURL=maps/style.css.map */
